<div class="row">
    <a href="" [routerLink]="['productCreate']"
      class="btn btn-primary m-b-10 pull-right">
      <i class="fa fa-plus"></i>
      Agregar producto
    </a>
    <table class="table table-bordered table-primary">
        <thead class="thead-inverse">
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Price</th>
                <th>
                  Opciones
                </th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let product of products">
                <td>{{product.id}}</td>
                <td>
                    <a href="" [routerLink]="['/products', product.id]">
                     {{product.name}}
                     </a>
                </td>
                <td> {{product.price | myCurrency}}</td>
                <td>
                  <a href=""
                     [routerLink]="['/products', product.id]">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <a class="btn btn-default"
                     href="javascript:void(0)"
                     (click)="deleteProductItem(product)">
                    <i class="fa fa-trash"></i>
                  </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
