<h2>LOGIN</h2>

<div class="container col-lg-5">
  <div class="form-group row">
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
      <strong>Oh snap!</strong> {{errorMessage}}
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email" [(ngModel)]="username">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password" [(ngModel)]="password">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox">Remember me
          </label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-sm-2 col-sm-10">
      <button (click)="login()" *ngIf="!isLoggedIn" class="btn btn-primary">Login</button>
      <button (click)="logout()" *ngIf="isLoggedIn" class="btn btn-primary">Logout</button>
    </div>
  </div>

</div>