.card-img-top {
    border-top-right-radius: calc(.25rem - 1px);
    border-top-left-radius: calc(.25rem - 1px);
    width: 120px;
    width: 100%;
    display: block;
}
a.mycolor{
    color: #fff;
}
.bg-card{
    background-color: #9E9E9E;
}